 <?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
	<hibernate-configuration>
	<session-factory>
	<property name="connection.driverclass">com.mysql.cj.jdbc.Driver</property>
	<property name="connection.url">jdbc:mysql://localhost:3306/dbshow</property>
	<property name="connection.username">root</property>
	<property name="connection.password">root</property>
	
	<!-- hibernate connection related properties -->
	<property name="dialect">org.hibernate.dialect.MySQL8Dialect</property>
	<property name="hbm2ddl.auto">create</property>
	<property name="show_sql">true</property>
	<property name="format_sql">true</property>
	
	<!-- for xml mapping file -->
	
	
	<mapping class="pro.tut.Employee"/>
	<mapping class="pro.tut.FullTimeEmployee"/>
	<mapping class="pro.tut.PartTimeEmployee"/>
	
	<mapping class="pro.logic.Showroom"/>
	<mapping class="pro.logic.Bike"/>
	<mapping class="pro.logic.Car"/>
	
	
	<mapping class="pro.sol.Collage"/>
	<mapping class="pro.sol.Student"/>
	<mapping class="pro.sol.Subject"/>
	
	</session-factory>
	</hibernate-configuration>
